<div class="divBoxHead">ИСТОРИЧЕСКИЕ ПАМЯТНИКИ</div>

<div class="divBoxTop"></div>

<div class="divBoxMid">
  <ul>
    <li class="liLink">
      <a href="/places/bakla" class="underline">Пещерный город Бакла</a>
    </li>
    <li class="liLink">
      <a href="/places/tepe-kermen" class="underline">Пещерный город Тепе-Кермен</a>
    </li>
    <li class="liLink">
      <a href="/places/kachi-kalion" class="underline">Качи Кальон</a>
    </li>
    <li class="liLink">
      <a href="/places/nauchny" class="underline">Поселок Научный</a>
    </li>
    <li class="liLink">
      <a href="/places/monastyr" class="underline">Успенский пещерный монастырь</a>
    </li>
    <li class="liLink">
      <a href="/places/chufut-kale" class="underline">Пещерный город Чуфут-Кале</a>
    </li>
    <li class="liLink">
      <a href="/places/hanskiy" class="underline">Ханский дворец</a>
    </li>
  </ul>
</div>

<div class="divBoxBot"></div>